<div class="row justify-content-md-center">
  <div [ngSwitch]="step">
    <div *ngSwitchCase="1">
      <div>
        <h1 class="text-center">Personal Information</h1>
        <form (ngSubmit)="moveToStep2(userObj)">
          <div class="form-group">
            <label for="exampleFormControlInput1">Make</label>
            <input type="text" class="form-control" name="make" [(ngModel)]="userObject.make" id="exampleFormControlInput1" placeholder="Enter Make">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput2">Model</label>&nbsp;&nbsp;
            <select name="model" [(ngModel)]="userObject.model" id="exampleFormControlInput2">
              <option value="">Select</option>
              <option value="Civic">Civic</option>
              <option value="Odyssey">Honda</option>
              <option value="Pilot">Pilot</option>
              <option value="Accord">Accord</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3">Year</label>
            <input type="number" class="form-control" name="year" [(ngModel)]="userObject.year" id="exampleFormControlInput3" placeholder="Enter year">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput6">Type</label>
            <br>
            <label class="radio-inline">
              <input type="radio" name="type" [(ngModel)]="userObject.type" id="exampleFormControlInput6M" value="Sedan">&nbsp; Sedan</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="radio-inline">
              <input type="radio" name="type" [(ngModel)]="userObject.type" id="exampleFormControlInput6F" value="Coupe"> &nbsp; Coupe</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>


          <div class="col-xs-4 form-group">
            <button class="btn btn-primary" type="submit">Next</button>
          </div>
        </form>
      </div>
    </div>


    <div *ngSwitchCase="2">
      <div>
        <h1 class="text-center">Extra Features</h1>
        <br>
        <form (ngSubmit)="submitForm(userObj)">

          <!-- <div class="form-group">
                <label for="exampleFormControlInput6">Type</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="type" [(ngModel)]="userObject.type" id="exampleFormControlInput6M" value="Sedan">&nbsp; Sedan</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" name="type" [(ngModel)]="userObject.type" id="exampleFormControlInput6F" value="Coupe"> &nbsp; Coupe</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div> -->


          <label for="exampleFormControlInput7">Features: </label>
          <br>
          <div class="form-group">
            <label>
              <input type="checkbox" name="features" [(ngModel)]="userObject.features" id="exampleFormControlInput7M">&nbsp; GPS</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
              <input type="checkbox" name="features1" [(ngModel)]="userObject.features" id="exampleFormControlInput7F"> &nbsp;Security Lock</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
              <input type="checkbox" name="features2" [(ngModel)]="userObject.features" id="exampleFormControlInput7O" checked>&nbsp; Cargo Mat</label>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput10">Purchase Date</label>
            <input type="date" class="form-control" name="pd" [(ngModel)]="userObject.purchaseDate" id="exampleFormControlInput10">
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>